<!doctype html>
<!--Base Template -->
<html>
<head>
 <title>//source_code</title>
 <link href='https://fonts.googleapis.com/css?family=Monoton|Codystar|Londrina+Outline|Londrina+Shadow|VT323|Roboto+Mono:400,100|Orbitron:400,900|Montserrat+Alternates:400,700|Lekton|Montserrat+Subrayada:400,700|Rubik+Mono+One' rel='stylesheet' type='text/css'>
 <script src="//code.jquery.com/jquery-1.11.3.min.js"></script>
 <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
 <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css">
 <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
 {% block css %}{% endblock %} 
</head>

<body>


{% block content %}  {% endblock %}



</body>

</html>