<!doctype html>
<!--Base Template -->
<html>
<head>

 <title>{% block title %} //dinosource_code {% endblock %}</title>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script src="//code.jquery.com/jquery-1.11.0.min.js"></script>
  <link href="http://netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap.min.css" rel="stylesheet" type="text/css">
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
 <link rel="stylesheet" href="/static/css/styles.css">
</head>
<body>

{% for flash in get_flashed_messages() %}
  <div class="alert alert-danger" style="width:90%; margin:0 auto;">
   		{{ flash }}
  </div>
{% endfor %}

{% block content %}

{% endblock %}



</body>

</html>