<!doctype html>
<!--Base Template -->
<html>
<head>

 <title>{% block title %} //dinosource_code {% endblock %}</title>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
 <link rel="stylesheet" href="/static/css/styles.css">
 <script src="//code.jquery.com/jquery-1.11.3.min.js"></script>
 <script src="/static/js/highlight.js"></script>
 <link href='https://fonts.googleapis.com/css?family=Luckiest+Guy|Chelsea+Market|Anonymous+Pro|Nosifer|Londrina+Shadow' rel='stylesheet' type='text/css'>
</head>
<body>



{% for flash in get_flashed_messages() %}
  
  	<div class="alert alert-danger" style="width:90%; margin:0 auto;">
   		{{ flash }}
  
  </div>
{% endfor %}



{% block content %}

{% endblock %}


<footer> carly.codes | 2015 </footer>

</body>

</html>