{% extends 'base.html' %}

{% block css%}
<link rel="stylesheet" href="/static/css/index.css">
{% endblock %}


{% block content %}

<h1> //DINOSOURCE_CODE </h1>

      <form action="#" method="get">

          <div class="form-group">
            <label for="field-url"><h6>Enter a URL:</h6></label>
              <input type="text" name="source-url" class="form-control"
                  id="field-url" min="7" max="11"
                 placeholder="http://www....">
            </div><!--close formgroup-->
          
            <div class="form-group">
              <input type="submit" value="add video">
            </div><!--close formgroup-->

        </form><!--closes form-->



{% endblock %}
